<!DOCTYPE html>
<html>

<head>
    <title>Upload Dataset</title>
</head>

<body>
    <h2>Upload Training Files</h2>
    <form action="/testing/" method="POST" enctype="multipart/form-data">
        <label>Model ID:</label><br>
        <input type="text" name="model_id" required><br><br>
        <label>Input File:</label><br>
        <input type="file" name="input_file" accept=".txt"><br><br>
        <label>Output File:</label><br>
        <input type="file" name="output_file" accept=".txt"><br><br>
        <button type="submit"> Start Test</button>
    </form>
</body>

</html>